<div class="customer-profile">
  <div class="customer-profile__options">
    <div class="customer-info">
      <img class="customer-avatar"
            src="/images/users/user_1-profile-pic.png"
            alt="customer-avatar">
      <h2>Darth Vader</h2>
    </div>
    <ul>
      <li><a class="option--is_active" href="#">Meus pedidos</a></li>
      <li><a href="#">Meus cupons</a></li>
      <li><a href="#">Meus Endereços</a></li>
      <li><a href="#">Dados pessoais</a></li>
      <li><a href="#">Dados de pagamento</a></li>
      <li><a href="#">Dados de Login</a></li>
    </ul>
  </div>
  <div class="customer-profile__content">
    <h2>Meus pedidos</h2>
    <table>
      <thead>
        <tr>
          <th>Número</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0001</td>
          <td>Em processamento</td>
          <td>
            <a href="#">Detalhes</a>
            {{!-- <a href="#">Solicitar troca</a> --}}
          </td>
        </tr>
        <tr>
          <td>0028</td>
          <td>Em processamento</td>
          <td>
            <a href="#">Detalhes</a>
            {{!-- <a href="#">Solicitar troca</a> --}}
          </td>
        </tr>
        <tr>
          <td>0101</td>
          <td>Em transporte</td>
          <td>
            <a href="#">Detalhes</a>
            {{!-- <a href="#">Solicitar troca</a> --}}
          </td>
        </tr>
        <tr>
          <td>1000</td>
          <td>Entregue</td>
          <td>
            <a href="#">Detalhes</a> |
            <a href="#">Solicitar troca</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
