<div class="content">
  <header>
    <nav>
      {{#link-to "index"}}Home{{/link-to}}
      {{#link-to "books"}}Books{{/link-to}}
      {{#link-to "admin.books"}}Admin/Books{{/link-to}}
      {{#link-to "login"}}Login{{/link-to}}
      {{#link-to "signup"}}Signup{{/link-to}}
    </nav>
  </header>
  <h1>Codex Bookstore</h1>
  {{outlet}}
</div>
