<div class="books">
  {{#each model as |book|}}
    <div class="book">
      <div class="book__img">
        <img src="http://placehold.it/250x250" alt="">
      </div>
      <h3 class="book__title">{{book.title}}</h3>
      <p>Author: {{book.author.name}}</p>
      <div class="book-price">
        <span class="book-price__currency">R$</span>
        <span class="book-price__amount"></span>
      </div>
      <div class="book__info">
        <p>Pages: </p>
        <p>Publisher: </p>
        <h4>Categories:</h4>
      </div>
      <div class="book__purchase-btn">
        <button type="button">Purchase</button>
      </div>
    </div>
  {{/each}}
</div>
