<div class="books">
  <div class="book">
    <div class="book__img">
      <img src="http://placehold.it/250x250" alt="">
    </div>
    <h3 class="book__title">Crime and Punishment</h3>
    <p>Author: Dostoievski, Fiodor</p>
    <div class="book-price">
      <span class="book-price__currency">R$</span>
      <span class="book-price__amount">0,00</span>
    </div>
    <div class="book__info">
      <p>Pages: 180</p>
      <p>Publisher: Editora 34</p>
      <h4>Categories:</h4>
      <ul>
        <li>Drama</li>
        <li>Fiction</li>
      </ul>
    </div>
    <div class="book__purchase-btn">
      <button type="button">Purchase</button>
    </div>
  </div>
  <div class="book">
    <div class="book__img">
      <img src="http://placehold.it/250x250" alt="">
    </div>
    <h3 class="book__title">The Demons</h3>
    <p>Author: Dostoievski, Fiodor</p>
    <div class="book-price">
      <span class="book-price__currency">R$</span>
      <span class="book-price__amount">0,00</span>
    </div>
    <div class="book__info">
      <p>Pages: 250</p>
      <p>Publisher: Editora 34</p>
      <h4>Categories:</h4>
      <ul>
        <li>Drama</li>
        <li>Fiction</li>
      </ul>
    </div>
    <div class="book__purchase-btn">
      <button type="button">Purchase</button>
    </div>
  </div>
  <div class="book">
    <div class="book__img">
      <img src="http://placehold.it/250x250" alt="">
    </div>
    <h3 class="book__title">Notes from the Underground</h3>
    <p>Author: Dostoievski, Fiodor</p>
    <div class="book-price">
      <span class="book-price__currency">R$</span>
      <span class="book-price__amount">0,00</span>
    </div>
    <div class="book__info">
      <p>Pages: 100</p>
      <p>Publisher: Editora 34</p>
      <h4>Categories:</h4>
      <ul>
        <li>Drama</li>
        <li>Fiction</li>
      </ul>
    </div>
    <div class="book__purchase-btn">
      <button type="button">Purchase</button>
    </div>
  </div>
</div>
