@import "layout";
// variables
$base-spacing: 1.5em;
$base-font-size: 16px;
$text-font-family: sans-serif;

// colors
$gray: #666;
$dark-gray: #333;
$white: #fff;
$bgColor: #f1f1f1;

// simple css reset
html * {
  color: $gray;
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: $text-font-family;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

// general rules
body {
  background-color: $bgColor;
}

// header
.input-search {
  input {
    font-size: $base-font-size * 1.1;
    margin: $base-spacing 0;
    padding: $base-spacing * 0.2 0;
    text-align: center;
    width: 94%;
  }
  button {
    padding: $base-spacing * 0.3 0;
    vertical-align: middle;
  }
}
.main-content {
  min-height: 720px;
}
.page-footer {
  background-color: $dark-gray;
  color: darken($white, 10%);
  padding: $base-spacing/2 0;
  text-align: center;
}
.filters {
  padding: $base-spacing/2 $base-spacing;
}
.filter {
  margin-top: $base-spacing;
}
