.outer-container {
  display: flex;
}
.col {
  padding: 2% 5%;
}
.sidebar-col {
  background-color: #666;
  color: #f9f9f9;
  flex-basis: 20%;
  min-height: 800px;
}
.content-col {
  flex-basis: 80%;
}
