<div class="search-container">
  <form class="search-form">
    <input class="search-book" type="text" name="q" placeholder="Digite título, autor, categoria, etc...">
    <button type="submit" name="search">Pesquisar</button>
  </form>
</div>
<div class="book-list">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |book|}}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>
              {{#if book.enable}}
                <a href="#">Disable</a> |
              {{else}}
                <a href="#">Enable</a> |
              {{/if}}
              <a href="#">Edit</a> |
              <a href="#">Details</a>
            </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#link-to "admin.books.new" class="btn"}}New Book{{/link-to}}
</div>
