<div class="card">
  <header class="card-header">
    <h3 class="card-header-title">{{book.title}}</h3>
  </header>
  <div class="card-content">
    <div class="content">
      <p>Author: {{book.author.name}}</p>
    </div>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">R$ 0,00</p>
    <a href="#" class="card-footer-item" {{action 'addToCart' book}}>Add to cart</a>
  </footer>
</div>
