<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Book</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Remove Item</th>
    </tr>
  </thead>
  <tbody>
    {{#each shoppingCart.items as |book|}}
      <tr>
        <td>{{book.title}}</td>
        <td>1</td>
        <td>$0.00</td>
        <td>
          <button type="button" class="button is-danger" {{action 'removeFromCart' book}}>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
