<h2 class="title">Book list</h2>
{{#bulma-table class="is-fullwidth"}}
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |book|}}
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>
          <a href="#">Details</a> |
          {{#link-to "admin.books.edit" book.id}}Edit{{/link-to}} |
          <label>
            {{input type="checkbox" checked=book.enabled}}
            Enable
          </label>
        </td>
      </tr>
    {{/each}}
  </tbody>
{{/bulma-table}}
