<h2 class="title">New Book</h2>
{{book-form book=model.book bookCollections=collections btnLabel='Create book' action='saveBook'}}
<div class="errors">
  {{#each book.errors as |error|}}
    <li>{{error.source}} - {{error.message}}</li>
  {{/each}}
</div>
