<h2 class="title">New Book</h2>
{{book-form book=model.book bookCollections=collections
            btnLabel='Create book' saveAction=(action 'save')
            setBookAction=(action 'setBookAttr')}}
{{#if book.errors}}
  <div class="section">
    {{#bulma-message isDanger=true}}
      <div class="message-header">
        <header>Errors</header>
      </div>
      <div class="message-body">
        <ul>
          {{#each book.errors as |error|}}
            <li>{{error.source}} - {{error.message}}</li>
          {{/each}}
        </ul>
      </div>
    {{/bulma-message}}
  </div>
{{/if}}
