// colors
// #da4167
$primary: #083d77
$bgColor: #fcfcfc
$textColor: #333
$btnText: #083d77

%button
  background-color: $bgColor
  border: solid 1px #2e4057
  color: $btnText
  display: inline-block
  margin: 1em 0
  padding: 10px

// general rules
html
  background-color: $bgColor
  box-sizing: border-box
  color: $textColor
  font-family: sans-serif

button,
.btn
  @extend %button

.content
  margin: 0 auto
  width: 90%

a
  text-decoration: none

form
  width: 70%
  fieldset
    margin: 1em 0
    padding: 2em 1.5em
  label
    display: block
    margin-top: 1em
  input,
  textarea,
  select
    width: 100%

.form--login
  border: solid 1px $btnText
  margin: 0 auto
  padding: 2em
  width: 40%
  form
    width: 100%

.search-container
  margin-bottom: 1.5em
.search-form
  width: 80%
.search-book
  display: inline-block
  padding: 0.7em 0 0.7em 0.6em
  width: 90%

// home layout
.books
  display: flex
  justify-content: space-around

.book-list
  table
    width: 80%
    td
      border: 1px solid #666
      padding: 10px
      &:first-child,
      &:last-child
        text-align: center

// book insert form
.sales-period,
.sales-period-unit
  width: 20%
