$bgColor: #fcfcfc
$textColor: #333

// general rules
html
  background-color: $bgColor
  color: $textColor
  font-family: sans-serif

.content
  margin: 0 auto
  width: 90%

// home layout
.books
  display: flex
  justify-content: space-around
