{{#bulma-container}}

  {{#bulma-columns}}

    {{#bulma-column is2=true}}
      <div class="section">
        <section class="filters box">
          <h3>Filters</h3>
          <div class="filter filters__categories">
            <h4>Categories</h4>
            <label><input type="checkbox" name="category"> Category 1</label><br>
            <label><input type="checkbox" name="category"> Category 2</label><br>
            <label><input type="checkbox" name="category"> Category 3</label><br>
            <label><input type="checkbox" name="category"> Category 4</label><br>
          </div>
          <div class="filter filters__price-range">
            <h4>Price range</h4>
            <input type="text" name="min-price" placeholder="Min Price"><br><br>
            <input type="text" name="max-price" placeholder="Max Price"><br>
          </div>
          <div class="filter filters__categories">
            <h4>Authors</h4>
            <label><input type="checkbox" name="author"> Author 1</label><br>
            <label><input type="checkbox" name="author"> Author 2</label><br>
            <label><input type="checkbox" name="author"> Author 3</label><br>
            <label><input type="checkbox" name="author"> Author 4</label><br>
          </div>
        </section>
      </div>
    {{/bulma-column}}

    {{#bulma-column}}
      <div class="section">
        <h2 class="title">Books</h2>
        <div class="columns is-multiline">
          {{#each model as |bookUnit|}}
            <div class="column is-4">
              {{book-listing book=bookUnit}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/bulma-column}}

  {{/bulma-columns}}

{{/bulma-container}}
