{{#bulma-section}}
  {{#bulma-container}}
    <h2 class="title">Shopping cart</h2>
    {{display-cart}}
    <button type="button" class="button is-primary">Checkout</button>
  {{/bulma-container}}
{{/bulma-section}}
