{{#bulma-section}}
  {{#bulma-container}}
    <h2 class="title">Checkout</h2>
    {{#bulma-columns is-multiline=true}}
      <div class="column is-5">
        <h3 class="subtitle">Order summary</h3>
        {{display-cart}}
        <div class="field">
          <div class="control has-icons-left">
            <input type="text" class="input" placeholder="Promo code">
            <span class="icon is-small is-left">
              <i class="fa fa-gift" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="column">
        <section>
          <h3 class="subtitle">Shipping info</h3>
          <div class="select">
            <select>
              <option value="">select...</option>
              <option value="1">Address 1</option>
              <option value="2">Address 2</option>
              <option value="3">Address 3</option>
            </select>
          </div>
          <button type="button" class="button is-primary">New address</button>
        </section>
        <hr>
        <section>
          <h3 class="subtitle">Payment Info</h3>
          <div class="box">
            <h4>Credit cards</h4>
            <label class="checkbox is-block">
              <input type="checkbox" name="credit-card" value="1">
              Card 1
            </label>
            <label class="checkbox is-block">
              <input type="checkbox" name="credit-card" value="2">
              Card 2
            </label>
            <label class="checkbox is-block">
              <input type="checkbox" name="credit-card" value="3">
              Card 3
            </label>
            <br>
            <button type="button" class="button is-primary is-small">Add New</button>
          </div>
          <br>
          <div class="box">
            <h4>Exchange Vouchers</h4>
            <label class="checkbox is-block">
              <input type="checkbox" name="exchange-voucher" value="1">
              Coupon 1 - $10,00
            </label>
            <label class="checkbox is-block">
              <input type="checkbox" name="exchange-voucher" value="2">
              Coupon 2 - $30,00
            </label>
          </div>
        </section>
      </div>
    {{/bulma-columns}}
    <hr>
    <div class="has-text-right">
      <button type="button" class="button">Purchase</button>
    </div>
  {{/bulma-container}}
{{/bulma-section}}
