<div class="main-content">
  <div class="container">
    <h2 class="page-title">Checkout</h2>
    <div class="purchase-info-wrap">
      <div class="purchase-info">
        <h3>Delivery info</h3>
        <select class="" name="">
          <option>Address 1</option>
          <option>Address 2</option>
          <option>Address 3</option>
        </select>
        <button type="button">Add new</button>
      </div>
      <div class="purchase-info">
        <h3>Payment info</h3>
        <select class="" name="">
          <option>Credit Card 1</option>
          <option>Credit Card 2</option>
          <option>Credit Card 3</option>
        </select>
        <button type="button">Add new</button>
      </div>
      <div class="purchase-info">
        <h3>Cupons</h3>
        <select class="" name="">
          <option>Cupon 1</option>
        </select>
      </div>
      <div class="purchase-info">
        <h3>Promo code</h3>
        <input type="text" name="" value="">
      </div>
      <div class="purchase-info">
        <h3>ZIP code</h3>
        <input type="text" name="" value="">
      </div>
    </div>
    <div class="purchase-resume">
      <h2>Purchase details</h2>
      <div class="purchase-item">
        <h3>Memories from the underground</h3>
        <p>Quantity: 1</p>
        <p>Cost: $39,90</p>
      </div>
      <div class="purchase-total">
        <h3>Total: $39,90</h3>
      </div>
    </div>
    <div class="purchase-finish">
      <button type="button">Purchase</button>
    </div>
  </div>
  {{outlet}}
</div>
